@using AdminPanel.Models.DTO
@model IEnumerable<UserDTO>
@{
    ViewData["Title"] = "Active users";
}


<div class="Page">
    <div class="header">
        <div class="namePage">
            <p>Користувачі</p>
        </div>
        <div class="btn-header">
            <a asp-area="" asp-controller="Accounts" asp-action="Create">Створити користувача</a>
        </div>
    </div>

    <div class="body body-with-sections">

        <div class="section">
            <div class="search-block">
                <form asp-controller="Accounts" asp-action="ActiveUsers">
                    <input class="search-block-input" type="text" name="searchString" />
                    <button class="search-block-btn" type="submit" value="Пошук">
                        <span class="material-icons ">
                            search
                        </span>
                    </button>
                </form>
        </div>
    </div>
        <div class="section">
            <div asp-validation-summary="All"></div>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>Позиція</th>
                        <th>Ім'я користувача</th>
                        <th>Електронна пошта</th>
                        <th>Номер телефону</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <form method="post" asp-controller="Accounts" asp-action="UpdateUser">
                                <input hidden name="Id" value="@user.Id" />
                            <td><input type="text" name="Position" value="@user.Position" readonly /></td>
                            <td><input type="text" name="UserName" value="@user.UserName" /></td>
                            <td><input type="email" name="Email" value="@user.Email" /></td>
                            <td><input type="number" name="PhoneNumber" value="@user.PhoneNumber" /></td>
                            <td><button type="submit">Update</button></td>
                            </form>
                            <form method="post" asp-controller="Accounts" asp-action="LockoutUser">
                                <input hidden type="text" name="Id" value="@user.Id" />
                            <td><button type="submit">Lockout</button></td>
                            </form>
                        </tr>
                    }

                </tbody>
            </table>
        </div>

    </div>
</div>