@inject SignInManager<ApplicationUser> SignInManager
@inject IAuthorizationService AuthorizationService
@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using AdminPanel.Helpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Створення користувача";
}

<div class="Page">
    <div class="header">
        <div class="namePage">
            <p>Створення користувача</p>
        </div>
    </div>

    <div class="body body-with-sections">
        <div class="section">
            <form class="created-user0" method="post" asp-controller="Accounts" asp-action="CreateUser">
                <div asp-validation-summary="All"/>
                <table class="button-inputs-create-user">
                    <tbody>
                        <tr>
                            <td><p>Роль користувача:</p></td>
                            <td>
                                <select class="role-picker-createuser button-inputs-create-user-margin" name="Role">
                                    @if ((await AuthorizationService.AuthorizeAsync(User, RoleNames.Owner)).Succeeded)
                                    {
                                        <option value="@RoleNames.Owner">@RoleNames.Owner</option>
                                        <option value="@RoleNames.SeniorAdministrator">@RoleNames.SeniorAdministrator</option>
                                    }
                                    @if ((await AuthorizationService.AuthorizeAsync(User, RoleNames.SeniorAdministrator)).Succeeded)
                                    {
                                        <option selected value="@RoleNames.Administrator">@RoleNames.Administrator</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr class="tr-button">
                            <td><p>Ім`я користувача:</p></td>
                            <td><input class="button-inputs-create-user-margin" type="text" name="UserName" placeholder="" /></td>
                        </tr>
                        <tr>
                            <td><p>Пароль:</p></td>
                            <td><input class="button-inputs-create-user-margin" type="password" name="Password" placeholder="" /></td>
                        </tr>
                        <tr>
                            <td><p>Підтвердження паролю:</p></td>
                            <td><input class="button-inputs-create-user-margin" type="password" name="ConfirmPassword" placeholder="" /></td>
                        </tr> 
                        <tr>
                            <td><p>Пошта:</p></td>
                            <td> <input class="button-inputs-create-user-margin" type="email" name="Email" placeholder="" /></td>
                        </tr> 
                        <tr>
                            <td><p>Номер телефону:</p></td>
                            <td> <input class="button-inputs-create-user-margin" type="text" name="PhoneNumber" placeholder="" /></td>
                        </tr>
                    </tbody>
                </table>
                <button class="create-user-button" type="submit">Створити</button>
            </form>
        </div>
    </div>
</div>
