@*@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager*@
@model IEnumerable<UserDTO>
@using AdminPanel.Data;
@using AdminPanel.Helpers
@using AdminPanel.Models.DTO;
@using System.Security.Claims
@{
    ViewData["Title"] = "Accounts";
}

<style>
    table {
        border:1px solid black;
    }

    th {
        border: 1px solid grey;
    }
    
    td {
        border: 1px solid grey;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Create user</h1>
    <form method="post" asp-controller="Accounts" asp-action="CreateUser">
        <select name="Role">
            @*@if (User.HasClaim(ClaimTypes.Role, RolesNames.Owner)) {
                <option value="@RolesNames.Owner">@RolesNames.Owner</option>
            }
            @if (User.HasClaim(ClaimTypes.Role, RolesNames.Owner))
            {
                <option value="@RolesNames.SeniorManager">@RolesNames.SeniorManager</option>
            }
            @if (User.HasClaim(ClaimTypes.Role, RolesNames.SeniorManager))
            {
                <option value="@RolesNames.Manager">@RolesNames.Manager</option>
            }
            @if (User.HasClaim(ClaimTypes.Role, RolesNames.Manager))
            {
                <option selected value="@RolesNames.Administrator">@RolesNames.Administrator</option>
            }*@
            <option value="@RolesNames.Owner">@RolesNames.Owner</option>
            <option value="@RolesNames.SeniorManager">@RolesNames.SeniorManager</option>
            <option value="@RolesNames.Manager">@RolesNames.Manager</option>
            <option selected value="@RolesNames.Administrator">@RolesNames.Administrator</option>
        </select>
        <input type="text" name="UserName"  placeholder="Username" />
        <input type="password" name="Password" placeholder="Password" />
        <input type="password" name="ConfirmPassword" placeholder="Confirm password" />
        <input type="email" name="Email" placeholder="Email" />
        <input type="text" name="PhoneNumber" placeholder="PhoneNumber" />
        <button type="submit">Create</button>
    </form>
</div>


<div class="text-center">
    <h1 class="display-4">Users</h1>
</div>

<div class="text-center">
    <div asp-validation-summary="All"></div>
    <table>
        <tr>
            <th>Position</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone number</th>
        </tr>
        @foreach (var user in Model)
        {
            <tr>
                <td><p>@user.Position</p></td>
                <form method="post" asp-controller="Accounts" asp-action="UpdateUser">
                    <input hidden name="Id" value="@user.Id" />
                    <td><input type="text" name="UserName" value="@user.UserName" /></td>
                    <td><input type="text" name="Email" value="@user.Email" /></td>
                    <td><input type="text" name="PhoneNumber" value="@user.PhoneNumber" /></td>
                    <td><button type="submit">Update</button></td>
                </form>
                <form method="post" asp-controller="Accounts" asp-action="DeleteUser">
                    <input hidden type="text" name="Id" value="@user.Id"/>
                    <td><button type="submit">Delete</button></td>
                </form>
            </tr>
        }
    </table>
</div>