@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ReviewAnswersViewModel
@{
    ViewData["Title"] = "Активні відповіді на відгуки";
}
<div class="Page">
    <div class="header">
        <div class="namePage">
            <p>Редагування активних відповідей на відгуки</p>
        </div>
    </div>

    <div class="body body-with-sections">
        <div class="sections">
            <div class="left-section-editproduct">
                <div class="comments-table">
                    <table class="table-comments-width">
                        <thead>
                            <tr>
                                <th>Зміст</th>
                                <th>Продукт</th>
                                <th>Відгук</th>
                                <th>Автор</th>
                                <th>Дата створення</th>
                            </tr>
                        </thead>
                        <tbody id="list-brands">
                            @foreach (var x in Model.ReviewAnswers)
                            {
                                <tr name="@x.Id">
                                    <td><p>@x.Text</p></td>
                                    <td class="comments-product-width"><p>@x.Review.Product.Name</p></td>
                                    <td class="comments-product-width"><p>@x.Review.Text</p></td>
                                    <td><p>@x.User.Name</p></td>
                                    <td><p>@x.CreatedAt</p></td>
                                    <td class="comments-buttons-width">
                                        <form class="page-form" method="post" asp-controller="Comments" asp-route-id="@x.Id" asp-route-isActive="@false" asp-action="ChangeReviewAnswerActivityStatus">
                                            <button class="page-num" type="submit">Приховати</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @if (Model.TotalPages > 1)
                    {
                        <div class="pagination-section">
                            @if (Model.CurrentPage == 1)
                            {
                                <button class="page-num">Previous</button>
                            }
                            else
                            {
                                <form class="page-form" method="post" asp-controller="Comments" asp-route-pageNumber="@(Model.CurrentPage-1)" asp-action="InactiveReviewAnswers">
                                    <button class="page-num" type="submit">Previous</button>
                                </form>
                            }

                            @for (var i = 1; i <= Model.TotalPages; i++)
                            {
                                @if (i == Model.CurrentPage)
                                {
                                    <form class="current-page-form" method="post" asp-controller="Comments" asp-route-pageNumber="@i" asp-action="InactiveReviewAnswers">
                                        <button type="submit">@i</button>
                                    </form>
                                }
                                else
                                {
                                    <form class="page-form" method="post" asp-controller="Comments" asp-route-pageNumber="@i" asp-action="InactiveReviewAnswers">
                                        <button type="submit">@i</button>
                                    </form>
                                }
                            }

                            @if (Model.CurrentPage == Model.TotalPages)
                            {
                                <button class="page-num" type="submit">Next</button>
                            }
                            else
                            {
                                <form class="page-form" method="post" asp-controller="Comments" asp-route-pageNumber="@(Model.CurrentPage+1)" asp-action="InactiveReviewAnswers">
                                    <button class="page-num" type="submit">Next</button>
                                </form>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/"></script>
}