@using AdminPanel.Models.ViewModels
@model QuestionsViewModel
@{
    ViewData["Title"] = "Active questions";
}

<div class="Page">
    <div class="header">
        <div class="namePage">
            <p>Редагування питань</p>
        </div>
    </div>

    <div class="body body-with-sections">
        <div class="sections">
            <div class="left-section-editproduct">
                <div class="comments-table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Зміст</th>
                                    <th>Продукт</th>
                                    <th>Автор</th>
                                    <th>Активність</th>
                                </tr>
                            </thead>
                            <tbody id="list-brands">
                                    @foreach (var x in Model.Questions)
                                    {
                                        <tr name="@x.Id">
                                            <td class="question-text-width"><p>@x.Text</p></td>
                                            <td><p>@x.Product.Name</p></td>
                                            <td><p>@x.User.UserName</p></td>
                                            <td><p>@x.IsActive</p></td>
                                        <td class="question-buttons-width">
                                        <form class="page-form" method="post" asp-controller="Comments" asp-route-id="@x.Id" asp-route-id="1" asp-action="ChangeQuestionActivityStatus">
                                                    <button class="page-num" type="submit">Показати</button>
                                             </form>
                                        <form class="page-form" method="post" asp-controller="Comments" asp-route-id="@x.Id" asp-route-id="0" asp-action="ChangeQuestionActivityStatus">
                                                    <button class="page-num" type="submit">Скрити</button>
                                            </form>
                                            </td>
                                        </tr>
                                    }
                            </tbody>
                        </table>
                    @if (Model.TotalPages > 1)
                    {
                        <div class="pagination-section">
                            @if (Model.CurrentPage == 1)
                            {
                                        <button class="page-num">Previous</button>
                            }
                            else
                            {
                                <form class="page-form" method="post" asp-controller="Comments" asp-route-pageNumber="@(Model.CurrentPage-1)" asp-action="ActiveQuestions">
                                    <button class="page-num" type="submit">Previous</button>
                                </form>
                            }

                            @for (var i = 1; i <= Model.TotalPages; i++)
                            {
                                @if (i == Model.CurrentPage)
                                {
                                    <form class="current-page-form" method="post" asp-controller="Comments" asp-route-pageNumber="@i" asp-action="ActiveQuestions">
                                        <button type="submit">@i</button>
                                    </form>
                                }
                                else{
                                    <form class="page-form" method="post" asp-controller="Comments" asp-route-pageNumber="@i" asp-action="ActiveQuestions">
                                        <button type="submit">@i</button>
                                    </form>
                                }
                            }

                            @if (Model.CurrentPage == Model.TotalPages)
                            {
                                    <button class="page-num" type="submit">Next</button>
                            }
                            else
                            {
                                <form class="page-form" method="post" asp-controller="Comments" asp-route-pageNumber="@(Model.CurrentPage+1)" asp-action="ActiveQuestions">
                                    <button class="page-num" type="submit">Next</button>
                                </form>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/"></script>
}