@using AdminPanel.Models.ViewModels
@model ReviewsViewModel
@{
    ViewData["Title"] = "Inactive reviews";
}
<div class="Page">
    <div class="header">
        <div class="namePage">
            <p>Редагування неактивних відгуків</p>
        </div>
    </div>

    <div class="body body-with-sections">
        <div class="sections">
            <div class="left-section-editproduct">
                <div class="comments-table">
                    <table class="table-comments-width">
                        <thead>
                            <tr>
                                <th>Зміст</th>
                                <th>Плюси</th>
                                <th>Мінуси</th>
                                <th>Продукт</th>
                                <th>Автор</th>
                                <th>Активність</th>
                            </tr>
                        </thead>
                        <tbody id="list-brands">
                            @foreach (var x in Model.Reviews)
                            {
                                <tr name="@x.Id">
                                    <td><p>@x.Text</p></td>
                                    <td><p>@x.Advantages</p></td>
                                    <td><p>@x.Disadvantages</p></td>
                                    <td class="comments-product-width"><p>@x.Product.Name</p></td>
                                    <td><p>@x.User.UserName</p></td>
                                    <td><p>@x.IsActive</p></td>
                                    <td class="comments-buttons-width">
                                        <form class="page-form" method="post" asp-controller="Comments" asp-route-id="@x.Id" asp-route-isActive="@true" asp-action="ChangeReviewActivityStatus">
                                            <button class="page-num" type="submit">Активувати</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @if (Model.TotalPages > 1)
                    {
                        <div class="pagination-section">
                            @if (Model.CurrentPage == 1)
                            {
                                <button class="page-num">Previous</button>
                            }
                            else
                            {
                                <form class="page-form" method="post" asp-controller="Comments" asp-route-pageNumber="@(Model.CurrentPage-1)" asp-action="InactiveReviews">
                                    <button class="page-num" type="submit">Previous</button>
                                </form>
                            }

                            @for (var i = 1; i <= Model.TotalPages; i++)
                            {
                                @if (i == Model.CurrentPage)
                                {
                                    <form class="current-page-form" method="post" asp-controller="Comments" asp-route-pageNumber="@i" asp-action="InactiveReviews">
                                        <button type="submit">@i</button>
                                    </form>
                                }
                                else
                                {
                                    <form class="page-form" method="post" asp-controller="Comments" asp-route-pageNumber="@i" asp-action="InactiveReviews">
                                        <button type="submit">@i</button>
                                    </form>
                                }
                            }

                            @if (Model.CurrentPage == Model.TotalPages)
                            {
                                <button class="page-num" type="submit">Next</button>
                            }
                            else
                            {
                                <form class="page-form" method="post" asp-controller="Comments" asp-route-pageNumber="@(Model.CurrentPage+1)" asp-action="InactiveReviews">
                                    <button class="page-num" type="submit">Next</button>
                                </form>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/"></script>
}