@using AdminPanel.Models.DTO
@model MainCategoriesBrandsModelsViewModel

@{
    ViewData["Title"] = "Create product";
}

<div class="Page">
    <div class="header">
        <div class="namePage">
            <p>Створення товару</p>
        </div>
    </div>
    <div class="body">
        <div class="section">
            <div class="name-block">
                <p>Основна інформація</p>
            </div>
            <div class="info-block">
                <form method="post" asp-action="CreateProduct" asp-controller="Products">
                    <div class="brand-selector">
                        <div class="product-lable">
                            <span>Бренд</span>
                        </div>
                        <div class="brand-list">
                            <select id="brand-select" name="Brand">
                                @foreach (var x in Model.Brands)
                                {
                                    <option value="@x.Id">@x.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="model-selector">
                        <div class="product-lable">
                            <span>Модель</span>
                        </div>
                        <div class="model-list">
                            <select id="model-select" name="Model">
                                @foreach (var x in Model.Models)
                                {
                                    <option value="@x.Id">@x.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="name">
                        <div class="product-lable">
                            <label for="Name">Назва позиції</label>
                        </div>
                        <input type="text" name="Name" placeholder="Введіть назву позиції..." />
                    </div>
                    <div class="description">
                        <div class="product-lable">
                            <label for="Description">Опис</label>
                        </div>
                        <textarea type="text" name="Description" placeholder="Введіть опис..."> </textarea>
                    </div>
                    <div class="price-div">
                        <div class="price">
                            <div class="product-lable">
                                <label for="Price">Ціна, грн</label>
                            </div>
                            <input type="number" min="0" name="Price" placeholder="Ціна" />
                        </div>
                    </div>
                    <button id="btnMainForm" hidden type="submit">Send</button>

                    <div class="catecories-block">
                        <div class="main-categories">
                            <div class="product-lable">
                                <span>Головна категорія</span>
                            </div>
                            <div class="categories-list">
                                <select id="categories-select">
                                    <option selected disabled hidden >Оберіть категорію</option>
                                    @foreach (var x in Model.MainCategories)
                                    {
                                        <option value="@x.Id">@x.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div id="subcategories-div" class="subcategories h-hidden">
                            <div class="product-lable">
                                <span>Підкатегорія</span>
                            </div>
                            <div class="subcategories-list">
                                <select id="subcategories-select" name="Category">
                                    
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="save-btn">
                <button id="save-btn" type="submit">Створити товар</button>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/js/EditProduct.js"></script>
}