@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ProductCategoriesViewModel
@{
    ViewData["Title"] = "Редагування товару";
}

<div class="Page">
    <div class="h-hidden">
        <input id="product-id" value="@Model.Product?.Id" />
    </div>

    <div class="header">
        <div class="namePage">
            <p>Редагування товару</p>
        </div>
    </div>
    <div class="body body-with-sections">
        <div class="sections">
            <div class="left-section-editproduct">
                 <div class="name-block">
                    <p>Основна інформація</p>
                </div>
                <div class="info-block">
                    <form method="post" asp-action="EditProduct" asp-controller="Products">
                        <input required hidden type="number" name="Id" value="@Model.Product?.Id" />
                        <div class="brand-selector">
                            <div class="product-lable">
                                <span>Бренд</span>
                            </div>
                            <div class="brand-list">
                                <select class="brand-dropdown" id="brand-select" name="Brand">
                                    @foreach (var x in Model.Brands)
                                    {
                                        if (@x.Id == @Model.Product?.BrandId)
                                        {
                                            <option value="@x.Id" selected="selected">@x.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@x.Id">@x.Name</option>
                                        }

                                    }
                                </select>
                            </div>
                        </div>
                        <div class="model-selector">
                            <div class="product-lable">
                                <span>Модель</span>
                            </div>
                            <div class="model-list">
                                <select class="model-dropdown" id="model-select" name="Model">
                                    @foreach (var x in Model.Models)
                                    {
                                        if (@x.Id == @Model.Product?.ModelId)
                                        {
                                            <option value="@x.Id" selected="selected">@x.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@x.Id">@x.Name</option>
                                        }

                            }
                        </select>
                    </div>
                </div>
                <div class="name">
                    <div class="product-lable">
                        <label for="Name">Назва позиції</label>
                    </div>
                    <input type="text" name="Name" placeholder="Введіть назву позиції..." value="@Model.Product?.Name" />
                </div>
                <div class="description">
                    <div class="product-lable">
                        <label for="Description">Опис</label>
                    </div>
                    <textarea type="text" name="Description" placeholder="Введіть опис...">@Model.Product?.Description</textarea>
                </div>
                <div class="price-div">
                    <div class="price">
                        <div class="product-lable">
                            <label for="Price">Ціна, грн</label>
                        </div>
                        <input type="number" name="Price" placeholder="Ціна" value="@Model.Product?.Price" />
                    </div>

                    <div class="discount">
                        <div class="product-lable">
                            <label for="DiscountAmount">Розмір знижки</label>
                        </div>
                        <input type="number" name="DiscountAmount" placeholder="Знижка" value="@Model.Product?.DiscountAmount" />
                    </div>
                            
                    <div class="rating">
                        <div class="product-lable">
                            <label for="Rating">Рейтинг</label>
                        </div>
                        <input readonly name="Rating" placeholder="Рейтинг" value="@Math.Round(Model.Product!.Rating, 2)" />
                    </div>
                </div>
                <button id="btnMainForm" hidden type="submit">Send</button> 
                        
                        <div class="catecories-block">
                            <div class="main-categories">
                                <div class="product-lable">
                                    <span>Головна категорія</span>
                                </div>
                                <div class="categories-list">
                                    <select class="categories-dropdown" id="categories-select">
                                        @foreach (var x in Model.MainCategories)
                                        {
                                            if (@x.Id == @Model.Product.Category.MainCategory.Id)
                                            {
                                                <option value="@x.Id" selected="selected">@x.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@x.Id">@x.Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div id="subcategories-div" class="subcategories h-hidden">
                                <div class="product-lable">
                                    <span>Підкатегорія</span>
                                </div>
                                <div class="subcategories-list">
                                    <select class="subcategories-dropdown" id="subcategories-select" name="Category">
                                        @foreach (var x in @Model.Subcategories)
                                        {
                                            if (@x.Id == @Model.Product.CategoryId)
                                            {
                                                <option value="@x.Id" selected="selected">@x.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@x.Id">@x.Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

        <div class="save-btn"> 
            <button id="save-btn" type="submit">Зберегти зміни</button>
        </div>
    </div>
    <div class="right-section-editproduct">
        <div class="visibility-block">
            <div class="name-block">
                <p>Видимість</p>
            </div>
            <div class="visibility-switcher">

                <input id="visibility-status" type="text" class="h-hidden" value="@Model.Product.IsActive.ToString()" />
                <div>
                    <label class="unselectable"><input type="radio" id="visibility-on" name="product-visibility" value="on">Активовано</label>
                    <a class="h-hidden" asp-action="ChangeProductActivityStatus" asp-controller="Products" asp-route-productId="@Model.Product.Id" asp-route-isActive="@true">Activate it</a>
                </div>
                <div>
                    <label class="unselectable"><input type="radio" id="visibility-off" name="product-visibility" value="off">Деактивовано</label>
                    <a class="h-hidden" asp-action="ChangeProductActivityStatus" asp-controller="Products" asp-route-productId="@Model.Product.Id" asp-route-isActive="@false">Deactivate it</a>
                </div>
            </div>
        </div>
        <div class="images-block">
            <div class="name-block">
                <p>Зображення</p>
            </div>
            <div class="images">
                <div class="main-image">
                    <div name="load-img">
                        @if (Model.Product.Images.Count != 0)
                        {
                            <img src="@Model.Product.Images[0].Url" alt="image"/>
                        }
                        else
                        {
                            <span class="material-icons add-icon unselectable">block</span>
                        }
                    </div>
                </div>
                <ul class="list-images">
                    @foreach (var image in Model.Product.Images)
                    {
                        <li class="item-image">
                            <div class="image-load-div" name="load-img">
                                <form method="post" asp-action="DeleteProductImage" asp-controller="Images">
                                    <input hidden name="productId" value="@Model.Product.Id" />
                                    <input hidden name="imageId" value="@image.Id" />
                                    <button  type="submit">
                                        <img src="@image.Url" alt="image" onclick="deleteImage(@image.Id)" />
                                    </button>
                                </form>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="load-photo-block">
            <div class="name-block">
                <p>Загрузка зображень</p>
            </div>
            <form method="post" asp-action="UploadProductImage" asp-controller="Images" enctype="multipart/form-data">
                <input hidden readonly type="number" name="productId" value="@Model.Product.Id" />
                <div>
                    <label>Оберіть зображення</label>
                    <input class="img-input" accept="image/*" type="file" name="files" id="image" multiple required>
                </div>
                <button type="submit">Загрузити</button>
            </form>
        </div>
    </div>
        </div> 

        <div class="sections">
            <div class="left-section-editproduct">
                <div class="name-block">
                    <p>Додати групу характеристик</p>
                </div>

                <form method="post" asp-controller="CharacteristicGroups" asp-action="AddGroup">
                    <input hidden name="ProductId" value="@Model.Product.Id" />
                    <input name="Name" placeholder="Ім'я" />
                    <button type="submit">Додати</button>
                </form>

                <div class="characteristics-block">
                @if (Model.Product.CharacteristicGroups.Any())
                {
                    <div class="characteristics-group-lable">
                        <span>Список наявних груп і характеристик</span>
                    </div>
                    <ul class="group-characteristics-ul">
                        @foreach (var group in Model.Product.CharacteristicGroups)
                        {
                            <li class="characteristics-li-block">
                                <div class="group-characteristics-div">
                                    <p class="characteristics-group-name">@group.Name</p>

                                    <form class="characteristics-group-form" method="post" asp-controller="CharacteristicGroups" asp-action="RemoveGroup">
                                        <input hidden name="GroupId" value="@group.Id" />
                                        <input hidden name="ProductId" value="@Model.Product.Id" />
                                        <button type="submit">Видалити групу</button>
                                    </form > 
                                    <form class="characteristics-group-form" asp-controller="CharacteristicGroups" asp-action="EditGroup" asp-route-productId="@Model.Product.Id" asp-route-groupId="@group.Id" asp-route-name="@group.Name">
                                        <button type="submit">Редагувати групу</button>
                                    </form>

                                    <form class="addcharacteristics-form" method="post" asp-controller="Products" asp-action="AddCharacteristic">
                                        <input name="ProductId" type="text" value="@Model.Product.Id" hidden />
                                            <input class="characteristics-group-input" name="Name" type="text" value="" placeholder="Назва характеристики" />
                                            <input class="characteristics-group-input" name="Value" type="text" value="" placeholder="Значення" />
                                        <input hidden name="GroupId" type="number" value="@group.Id" />
                                        <button type="submit">Додати характеристику</button>
                                    </form>
                                </div> 
                                @if (Model.Product.Characteristics.Where(a => a.CharacteristicGroupId == group.Id).Any())
                                {
                                <table class="characteristics-table">
                                    <thead>
                                        <tr>
                                              <th class="characteristics-label">Назва</th>
                                              <th class="characteristics-label">Значення</th>
                                        </tr>
                                    </thead>
                                        <tbody id="list-characteristics">
                                       
                                        @foreach (var x in Model.Product.Characteristics.Where(x => x.CharacteristicGroupId == group.Id))
                                        {
                                            
                                                <tr name="@x.Id">
                                                    <td><p>@x.CharacteristicsName.Name</p></td>
                                                    <td><p>@x.CharacteristicsValue.Value</p></td>
                                                    <td><button value="@x.CharacteristicsName.Name,@x.CharacteristicsValue.Value,@x.Id" data-bs-toggle="modal" data-bs-target="#staticBackdrop" type="button" name="edit-characteristic">Редагувати</button></td>
                                                    <td><button value="@x.Id" type="button" name="delete-characteristic">Видалити</button></td>
                                                </tr>
                                         }
                                     
                                    </tbody>
                                </table>
                                }
                            </li>
                        }
                    </ul>
                }
                </div>
            </div>
        </div>

    <div class="section">
        <form  method="post" asp-action="DeleteProduct" asp-controller="Products">
            <input hidden required name="Id" value="@Model.Product.Id"/>
            <button type="submit">Видалити товар</button>
        </form>
    </div>

    </div>
</div>



@section scripts {
    <script src="~/js/EditProduct.js"></script>
}