@using AdminPanel.Models
@model EditProductViewModel
@{
    ViewData["Title"] = "Edit product";
}

<div class="Page">
    <div class="header">
        <div class="namePage">
            <p>Редагування товару</p>
        </div>
        <div class="btn-header">
            <button id="btn-header" type="submit">Зберегти зміни</button>
        </div>
    </div>
    <div class="body body-product">
        <div class="main-section">
            <div class="left-section">
                 <div class="name-block">
                    <p>Основна інформація</p>
                </div>
                <div class="info-block">
                    <form method="post" asp-action="EditProduct" asp-controller="Products">
                        <input required hidden type="number" name="Id" value="@Model.Product.Id" />
                        <div class="name">
                            <div class="product-lable">
                                <label for="Name">Назва позиції</label>
                            </div>
                            <input type="text" name="Name" placeholder="Name" value="@Model.Product.Name" />
                        </div>
                        <div class="description">
                            <div class="product-lable">
                                <label for="Description">Опис</label>
                            </div>
                            <textarea type="text" name="Description" placeholder="Description">@Model.Product.Description</textarea>
                        </div>

                        <div class="price-div">
                            <div class="price">
                                <div class="product-lable">
                                    <label for="Price">Ціна, грн</label>
                                </div>
                                <input type="number" name="Price" placeholder="Price" value="@Model.Product.Price" />
                            </div>

                            <div class="discount">
                                <div class="product-lable">
                                    <label for="DiscountAmount">Розмір знижки</label>
                                </div>
                                <input type="number" name="DiscountAmount" placeholder="Discount amount" value="@Model.Product.DiscountAmmount" />
                            </div>
                        </div>
                        <button id="btnMainForm" hidden type="submit">Send</button>
                    </form>
                </div>
                <div class="catecories-block">
                    <div class="main-categories">
                        <div class="product-lable">
                            <span>Головна категорія</span>
                        </div>
                        <div class="categories-list">
                            <select id="categories-select" name="categories">
                                <option value="-1" disabled="disabled" selected="selected">Оберіть категорію</option>
                                @foreach (var x in Model.MainCategories)
                                {
                                    @if (x.Name == Model.Product.Category.MainCategory.Name)
                                    {
                                        <option selected="selected" value="@x.Id">@x.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@x.Id">@x.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div id="subcategories-div"  class="subcategories h-hidden">
                        <div class="product-lable">
                            <span>Підкатегорія</span>
                        </div>
                        <div class="subcategories-list">
                            <select id="subcategories-select" name="subcategories">
                                <option value="-1"  disabled="disabled" selected="selected">Виберіть підкатегорію</option>
                                @foreach (var y in Model.Subcategories.Where(s => s.MainCategory.Id == Model.Product.Category.MainCategory.Id))
                                    {
                                        @if (y.Name == Model.Product.Category.Name)
                                        {
                                            <option selected="selected" value="@y.Id">@y.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@y.Id">@y.Name</option>
                                        }
                                     }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-section">
                <div class="name-block">
                    <p>Основна інформація</p>
                </div>
                <div>

                </div>
            </div>
        </div>
        <div class="second-section">
            <div class="name-block">
                <p>Характеристики товару</p>
            </div>
            <div class="characteristics-section">
                <div class="add-characteristics">
                    <div class="product-lable">
                        <span>Створити характеристику</span>
                    </div>
                    <form method="post" asp-action="AddCharacteristic" asp-controller="Products">
                        <input hidden required name="ProductId" value="@Model.Product.Id" />
                        <input required name="Name" placeholder="Name" />
                        <input required name="Value" placeholder="Value" />
                        <button type="submit">Add</button>
                    </form>
                </div>
                <div class="characteristics-table">
                    <div class="product-lable">
                        <span>Список характеристик</span>
                    </div>
                    @if (Model.Product.Characteristics.Count > 0)
                    {
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Value</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var x in Model.Product.Characteristics)
                            {
                                <tr>
                                    <form method="post" asp-controller="Products" asp-action="EditCharacteristic">
                                        <input required hidden name="ProductId" value="@Model.Product.Id" />
                                        <input required hidden name="Id" value="@x.Id" />
                                    <td><input required name="Name" value="@x.CharacteristicsName.Name" placeholder="Name" /></td>
                                    <td><input required name="Value" value="@x.CharacteristicsValue.Value" placeholder="Value" /></td>
                                    <td><button type="submit">Update</button></td>
                                    </form>
                                    <form method="post" asp-controller="Products" asp-action="DeleteCharacteristic">
                                            <input required hidden name="ProductId" value="@Model.Product.Id" />
                                        <input required hidden name="Id" value="@x.Id" />
                                    <td><button type="submit">Delete</button></td>
                                    </form>
                                </tr>
                            }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#categories-select').on('change', function () {
                var select = $(this).val()
                alert(select);
                if(select != -1){
                    $.ajax({
                        type: 'GET',
                        url: '/AdminPanel/GetAutocompleteBrands',
                        data: { input: input },
                        success: function (data) {
                            if (data.length == 0) {
                                $('#autocomplete-list-brands').hide();
                            }
                            else {
                                $('#autocomplete-list-brands').html(data);
                                $('#autocomplete-list-brands').show();
                            }
                        }
                    });
                }
            });
        });

    </script>
}

<script src="~/js/EditProduct.js"></script>

@*<label for="Brand">Brand</label>
<input type="text" name="Brand" placeholder="Brand" value="@Model.Brand.Name" />

<label for="Category">Category</label>
<input type="text" name="Category" placeholder="Category" value="@Model.Category.Name" />

<label for="Model">Model</label>
<input type="text" name="Model" placeholder="Model" value="@Model.Model.Name" />*@



@*<label for="Url">Url</label>
<br />
<input disabled readonly type="text" name="Url" placeholder="Url" value="@Model.Product.Url" size="100" />
<br />
<br />

<label for="Rating">Rating</label>
<br />
<input disabled readonly type="text" name="Rating" placeholder="Rating" value="@Model.Product.Rating" />
<br />
<br />

<label for="Amount">Amount</label>
<br />
<input disabled readonly type="number" name="Amount" placeholder="Amount" value="@Model.Product.Amount" />
<br />
<br />

<label for="Code">Code</label>
<br />
<input disabled readonly type="number" name="Code" placeholder="Code" value="@Model.Code" />
<br />*@

@*@if (Model.IsActive)
{
    <h6>Product is activated</h6>
    <a asp-action="ChangeProductActivityStatus" asp-controller="Products" asp-route-productId="@Model.Product.Id" asp-route-isActive="@false">Deactivate it</a>
}
else
{
    <h6>Product is deactivated</h6>
    <a asp-action="ChangeProductActivityStatus" asp-controller="Products" asp-route-productId="@Model.Product.Id" asp-route-isActive="@true">Activate it</a>
}
<br />
<br />

@if (Model.Product.PriceHistory.Count > 0)
{
    <h3>Price history</h3>

    <table>
        <tr>
            <th>Date</th>
            <th>Price</th>
        </tr>
        @foreach (var price in Model.Product.PriceHistory)
        {
            <tr>
                <td>@price.Date.ToString("dd.MM.yyyy")</td>
                <td>UAH: @price.Price</td>
            </tr>
        }
    </table>
}
<h3>Upload image</h3>
<form method="post" asp-action="UploadImage" asp-controller="Images" enctype="multipart/form-data">
    <input hidden readonly type="number" name="productId" value="@Model.Product.Id" />
    <div class="form-group">
        <label for="image">Select Image</label>
        <input accept="image/*" type="file" name="file" id="image" class="form-control-file" required>
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>

<br />

@if (Model.Product.Images?.Count > 0)
{
    <h1>Images</h1>
    @foreach (var image in Model.Product.Images)
    {
        <img src="@image.Url" width="300" height="200" />
        <a asp-action="DeleteImage" asp-controller="Images" asp-route-imageId="@image.Id" asp-route-productId="@Model.Product.Id">Delete image</a>
        <br />
    }
}*@
