@using AdminPanel.Models
@model ProductCategoriesViewModel
@{
    ViewData["Title"] = "Edit product";
}

<div class="Page">
    <div class="h-hidden">
        <input id="product-id" value="@Model.Product.Id" />
    </div>

    <div class="header">
        <div class="namePage">
            <p>Редагування товару</p>
        </div>
    </div>
    <div class="body body-with-sections">
        <div class="sections">
            <div class="left-section-editproduct">
                 <div class="name-block">
                    <p>Основна інформація</p>
                </div>
                <div class="info-block">
                    <form method="post" asp-action="EditProduct" asp-controller="Products">
                        <input required hidden type="number" name="Id" value="@Model.Product.Id" />
                        <div class="name">
                            <div class="product-lable">
                                <label for="Name">Назва позиції</label>
                            </div>
                            <input type="text" name="Name" placeholder="Введіть назву позиції..." value="@Model.Product.Name" />
                        </div>
                        <div class="description">
                            <div class="product-lable">
                                <label for="Description">Опис</label>
                            </div>
                            <textarea type="text" name="Description" placeholder="Введіть опис...">@Model.Product.Description</textarea>
                        </div>
                        <div class="price-div">
                            <div class="price">
                                <div class="product-lable">
                                    <label for="Price">Ціна, грн</label>
                                </div>
                                <input type="number" name="Price" placeholder="Ціна" value="@Model.Product.Price" />
                            </div>

                            <div class="discount">
                                <div class="product-lable">
                                    <label for="DiscountAmount">Розмір знижки</label>
                                </div>
                                <input type="number" name="DiscountAmount" placeholder="Знижка" value="@Model.Product.DiscountAmount" />
                            </div>
                        </div>
                        <button id="btnMainForm" hidden type="submit">Send</button>
                    </form>
                </div>
                <div class="catecories-block">
                    <div class="main-categories">
                        <div class="product-lable">
                            <span>Головна категорія</span>
                        </div>
                        <div class="categories-list">
                            <select id="categories-select" name="categories">
                                @foreach (var x in Model.MainCategories)
                                {
                                    if (@x.Id == @Model.Product.Category.MainCategory.Id)
                                    {
                                        <option value="@x.Id" selected="selected">@x.Name</option>
                                    }
                                    else{
                                        <option value="@x.Id">@x.Name</option>
                                    }
                                    
                                }
                            </select>
                        </div>
                    </div>
                    <div id="subcategories-div" class="subcategories h-hidden">
                        <div class="product-lable"> 
                            <span>Підкатегорія</span>
                        </div>
                        <div class="subcategories-list">
                            <select id="subcategories-select" name="subcategories">
                                @foreach (var x in @Model.Subcategories)
                                {
                                    if (@x.Id == @Model.Product.CategoryId)
                                    {
                                        <option value="@x.Id" selected="selected">@x.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@x.Id">@x.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="save-btn">
                    <button id="save-btn" type="submit">Зберегти зміни</button>
                </div>
            </div>
            <div class="right-section-editproduct">
                <div class="visibility-block">
                    <div class="name-block">
                        <p>Видимість</p>
                    </div>
                    <div class="visibility-switcher">

                        <input id="visibility-status" type="text" class="h-hidden" value="@Model.Product.IsActive.ToString()" />
                        <div>
                            <label class="unselectable"><input type="radio" id="visibility-on" name="product-visibility" value="on">Активовано</label>
                            <a class="h-hidden" asp-action="ChangeProductActivityStatus" asp-controller="Products" asp-route-productId="@Model.Product.Id" asp-route-isActive="@true">Activate it</a>
                        </div>
                        <div>
                            <label class="unselectable"><input type="radio" id="visibility-off" name="product-visibility" value="off">Деактивовано</label>
                            <a class="h-hidden" asp-action="ChangeProductActivityStatus" asp-controller="Products" asp-route-productId="@Model.Product.Id" asp-route-isActive="@false">Deactivate it</a>
                        </div>
                    </div>
                </div>
                <div class="images-block">
                    <div class="name-block">
                        <p>Зображення</p>
                    </div>
                    <div class="images">
                        <div class="main-image">
                            @if (Model.Product.Images.Count != 0)
                            {
                                <img src="@Model.Product.Images[0]" name="image"/>
                            }
                            else
                            {
                                <span class="material-icons add-icon unselectable">add</span>
                                <form enctype="multipart/form-data">
                                    <input type="file" name="uploads" multiple accept="image/*" />
                                </form>
                            }
                        </div>
                        <ul class="list-images">
                            @for(int i= 1; i < 10; i++)
                            {
                                <li class="item-image">
                                    @if (Model.Product.Images.Count >= i){
                                        <img src="@Model.Product.Images[i]" name="image"/>
                                    }
                                    else
                                    {
                                        <span class="material-icons add-icon unselectable">add</span>
                                        <input type="file" name="uploads" multiple accept="image/*" />
                                    }
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="name-block">
                <p>Характеристики товару</p>
            </div>
            <div class="characteristics-section">
                <div class="add-characteristics">
                    <div class="product-lable">
                        <span>Створити характеристику</span>
                    </div>
                    <div>
                        <input required id="addC-input-name" name="Name" placeholder="Назва" />
                        <input required id="addC-input-value" name="Value" placeholder="Значення" />
                        <button id="add-characteristic-btn">Додати</button>
                    </div>
                </div>
                <div class="characteristics-table">
                    <div class="product-lable">
                        <span>Список характеристик</span>
                    </div>
                    @if (Model.Product.Characteristics.Count > 0)
                    {
                        <table>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Назва</th>
                                    <th>Значення</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="list-characteristics">
                                @foreach (var x in Model.Product.Characteristics)
                            {
                                <tr>
                                        <td><p>@x.Id</p></td> 
                                        <td><p>@x.CharacteristicsName.Name</p></td> 
                                        <td><p>@x.CharacteristicsValue.Value</p></td>
                                        <td><button value="@x.CharacteristicsName.Name,@x.CharacteristicsValue.Value" data-bs-toggle="modal" data-bs-target="#staticBackdrop" type="button" name="edit-characteristic">Редагувати</button></td>
                                        <td><button value="@x.Id" type="button" name="delete-characteristic">Видалити</button></td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    }

                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Редагування</h5>
                          </div>
                          <div class="modal-body">
                              <p>Назва</p>
                              <input class="modal-input" name="edit-name" value="" placeholder="" />
                              <p>Значення</p>
                              <input class="modal-input" name="edit-value" value="" placeholder="" />
                          </div>
                          <div class="modal-footer">
                            <button type="button" data-bs-dismiss="modal">Закрити</button>
                            <button type="button" >Зберігти</button>
                          </div>
                        </div>
                      </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



@section scripts {
    <script src="~/js/EditProduct.js"></script>
}



@*<label for="Brand">Brand</label>
<input type="text" name="Brand" placeholder="Brand" value="@Model.Brand.Name" />

<label for="Category">Category</label>
<input type="text" name="Category" placeholder="Category" value="@Model.Category.Name" />

<label for="Model">Model</label>
<input type="text" name="Model" placeholder="Model" value="@Model.Model.Name" />*@



@*<label for="Url">Url</label>
<br />
<input disabled readonly type="text" name="Url" placeholder="Url" value="@Model.Product.Url" size="100" />
<br />
<br />

<label for="Rating">Rating</label>
<br />
<input disabled readonly type="text" name="Rating" placeholder="Rating" value="@Model.Product.Rating" />
<br />
<br />

<label for="Amount">Amount</label>
<br />
<input disabled readonly type="number" name="Amount" placeholder="Amount" value="@Model.Product.Amount" />
<br />
<br />

<label for="Code">Code</label>
<br />
<input disabled readonly type="number" name="Code" placeholder="Code" value="@Model.Code" />
<br />*@

@*

@if (Model.Product.PriceHistory.Count > 0)
{
    <h3>Price history</h3>

    <table>
        <tr>
            <th>Date</th>
            <th>Price</th>
        </tr>
        @foreach (var price in Model.Product.PriceHistory)
        {
            <tr>
                <td>@price.Date.ToString("dd.MM.yyyy")</td>
                <td>UAH: @price.Price</td>
            </tr>
        }
    </table>
}
<h3>Upload image</h3>
<form method="post" asp-action="UploadProductImage" asp-controller="Images" enctype="multipart/form-data">
    <input hidden readonly type="number" name="productId" value="@Model.Product.Id" />
    <div class="form-group">
        <label for="image">Select Image</label>
        <input accept="image/*" type="file" name="file" id="image" class="form-control-file" required>
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>

<br />

@if (Model.Product.Images?.Count > 0)
{
    <h1>Images</h1>
    @foreach (var image in Model.Product.Images)
    {
        <img src="@image.Url" width="300" height="200" />
        <a asp-action="DeleteProductImage" asp-controller="Images" asp-route-imageId="@image.Id" asp-route-productId="@Model.Product.Id">Delete image</a>
        <br />
    }
}*@
