@using AdminPanel.Models
@model ProductsViewModel

@{
    ViewData["Title"] = "Products";
    string ampersand = Model.Query is null ? "" : "&";
}

<div class="Page">
    <div class="header">
        <div class="namePage">
             <p>Список позицій</p>
        </div>
        <div class="btn-header">
            <a asp-action="CreateProduct" asp-controller="Products">Додати товар</a>
        </div>
    </div>
    
    <div class="body">
        <div class="searchForm">
            <form asp-controller="Products" asp-action="Products" asp-route-categoryId="@Model.CategoryId">
                <input class="textInput" type="text" name="searchString" />
                <button class="searchButton" type="submit" value="Пошук" />
            </form>
        </div>
    </div>

    <div class="body">
         @if (Model is not null)
        {
            <div class="searchProducts">
            </div>

            <div>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th></th>
                            <th scope="col">Ім'я</th>
                            <th scope="col">Код</th>
                            <th scope="col">Статус</th>
                            <th scope="col">Ціна</th>
                            <th scope="col">Замовлення</th>
                        </tr>
                    </thead>
                    <tbody class="productsTable">
                        @foreach (var product in Model.Products)
                        {
                            <tr>
                                <td class="products-img">
                                    @if (product.Images != null)
                                    {

                                    }
                                    else{
                                     <img src="~/img/nophoto.png" alt="productImg" />
                                    }
                                </td>
                                <td><a asp-action="EditProduct" asp-controller="Products" asp-route-id="@product.Id">@product.Name</a></td>
                                <td>@product.Code</td>
                                @if (@product.IsActive)
                                {
                                    <td>Активовано</td>
                                }
                                else
                                {
                                    <td>Вимкнено</td>
                                }
                                <td>@product.Price</td>
                                <td>@product.Amount</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
            }
    </div>
</div>



@section scripts {
    <script src="~/js/Products.js"></script>
}