@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ProductsViewModel

@{
    ViewData["Title"] = "Товари";
}

<div class="Page">

    <div class="header">
        <div class="namePage">
             <p>Список позицій</p>
        </div>
        <div class="btn-header">
            <a asp-action="CreateProduct" asp-controller="Products">Додати товар</a>
        </div>
    </div>

    <div class="body body-with-sections">

        <div class="section">
            <div class="search-block">
                <form asp-controller="Products" asp-action="Products">
                    <input class="search-block-input" type="text" name="searchString" />
                    <button class="search-block-btn" type="submit" value="Пошук">
                        <span class="material-icons ">
                            search
                        </span>
                    </button>
                </form>
            </div>
        </div>

        <div class="sections">
            <div class="products-list-block">
                    @if (Model is not null)
                    {
                        <div class="searchProducts">
                        </div>

                        <div>
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th></th>
                                        <th scope="col">Ім'я</th>
                                        <th scope="col">Код</th>
                                        <th scope="col">Статус</th>
                                        <th scope="col">Ціна</th>
                                        <th scope="col">Замовлення</th>
                                    </tr>
                                </thead>
                                <tbody class="productsTable">
                                    @foreach (var product in Model.Products)
                                    {
                                        <tr>
                                            <td class="products-img">
                                                <img src="@product.Images.FirstOrDefault()?.Url" alt="productImg" />
                                            </td>
                                            <td><a asp-action="EditProduct" asp-controller="Products" asp-route-id="@product.Id">@product.Name</a></td>
                                            <td>@product.Code</td>
                                            @if (@product.IsActive)
                                            {
                                                <td>Активовано</td>
                                            }
                                            else
                                            {
                                                <td>Вимкнено</td>
                                            }
                                            <td>@product.Price</td>
                                            <td>@product.Amount</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    }
            </div> 
            
          
            <div class="pagination-block">
                @if (Model.TotalPages > 1)
                {
                    <div class="pagination-section">
                        @if (Model.CurrentPage == 1)
                        {
                            <button class="page-num">Previous</button>
                        }
                        else
                        {
                            <form class="page-form" method="post" asp-controller="Products" asp-route-pageNumber="@(Model.CurrentPage-1)" asp-action="Products">
                                <button class="page-num" type="submit">Previous</button>
                            </form>
                        }

                        @for (var i = 1; i <= Model.TotalPages; i++)
                        {
                            @if (i == Model.CurrentPage)
                            {
                                <form class="current-page-form" method="post" asp-controller="Products" asp-route-pageNumber="@i" asp-action="Products">
                                    <button type="submit">@i</button>
                                </form>
                            }
                            else
                            {
                                <form class="page-form" method="post" asp-controller="Products" asp-route-pageNumber="@i" asp-action="Products">
                                    <button type="submit">@i</button>
                                </form>
                            }
                        }

                        @if (Model.CurrentPage == Model.TotalPages)
                        {
                            <button class="page-num" type="submit">Next</button>
                        }
                        else
                        {
                            <form class="page-form" method="post" asp-controller="Products" asp-route-pageNumber="@(Model.CurrentPage+1)" asp-action="Products">
                                <button class="page-num" type="submit">Next</button>
                            </form>
                        }
                    </div>
                }
            </div>
        </div>


    </div>
</div>



@section scripts {
    <script src="~/js/Products.js"></script>
}