@using AdminPanel.Models
@model ProductsViewModel

@{
    ViewData["Title"] = "Products";
    string ampersand = Model.Query is null ? "" : "&";
}

<h1>Products: </h1>

@if(Model is not null) {
    @if(Model.Brands is not null && Model.Brands.Count() > 0) {
        <h6>Brands</h6>
        @foreach (var x in Model.Brands)
        {
            <a asp-controller="Products" asp-route-categoryId="@Model.CategoryId" asp-route-filterQuery="@(Model.Query+ampersand)brand=@x.Id">@x.Name</a>
        }
        <br />
        <br />
    }
    
    
    @if (Model.Characteristics is not null && Model.Characteristics.Count > 0)
    {
        @foreach (var characteristic in Model.Characteristics)
        {
            <h6>@characteristic.Key.Name</h6>
            @foreach (var characteristicValue in characteristic.Value) {
                <a asp-controller="Products" asp-route-categoryId="@Model.CategoryId" asp-route-filterQuery="@(Model.Query+ampersand)@characteristic.Key.Id=@characteristicValue.Id">@characteristicValue.Value</a>
            }
            <br />
            <br />
        }
        <br />
        <br />
        <br />
    }



    @foreach (var product in Model.Products)
    {
        <h6>Name: @product.Name</h6>
        <h6>Code: @product.Code</h6>
        <h6>Url: @product.Url</h6>
        <h6>Brand: @product.Brand.Name</h6>
        <h6>Model: @product.Model.Name</h6>
        <h6>Category: @product.Category.Name</h6>
        <h6>Is active: @product.IsActive</h6>
        <a asp-action="EditProduct" asp-controller="Products" asp-route-id="@product.Id">Edit</a>
        <br />
        <br />
    }
}



