@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<ShowcaseGroup>
@{
    ViewData["Title"] = "Вітрина товарів";
}


<div class="Page">
    <div class="header">
        <div class="namePage">
            <p>Вітрина товарів</p>
        </div>
    </div>

    <div class="body body-with-sections">
        <div class="sections">
            <div class="left-section-editproduct">
                <h6>Додати групу</h6>
                <form method="post" asp-controller="Showcase" asp-action="AddGroup">
                    <input name="Name" placeholder="Ім'я" />
                    <input name="QueryString" placeholder="query string" />
                    <button type="submit">Додати</button>
                </form>
            </div>
        </div>
            @foreach(var group in Model)
            {
                <div class="sections">
                    <div class="left-section-editproduct">
                            <table>
                                <thead>
                                    <tr>
                                        <th>@group.Name | @group.QueryString</th>
                                    <th class="editbuttons">
                                        <form method="post" asp-controller="Showcase" asp-action="RemoveGroup">
                                        <input hidden name="GroupId" value="@group.Id" />
                                        <button type="submit">Видалити групу</button>
                                        </form>
                                         <form asp-controller="Showcase" asp-action="EditGroup" asp-route-groupId="@group.Id" asp-route-name="@group.Name" asp-route-queryString="@group.QueryString">
                                        <button type="submit">Редагувати групу</button>
                                        </form>
                                    </th>
                                      
                                    </tr>
                                </thead>
                                <tbody id="list-brands">
                                    @foreach (var product in group.Products)
                                    {
                                        <tr name="@product.Id">
                                    <td><p class="pempty"> @product.Name</p></td>
                                    <td>
                                            <form  class="page-form delete-prod-button" method="post" asp-controller="Showcase" asp-action="RemoveProduct">
                                                <input hidden name="GroupId" value="@group.Id" />
                                                <input hidden name="ProductId" value="@product.Id" />
                                                <button type="submit">Видалити цей товар з групи</button>
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                         
                            </table>
                    <div class="add-prod-in-group">
                    <form method="post" asp-controller="Showcase" asp-action="AddProduct">
                        <input hidden name="GroupId" value="@group.Id" />
                        <input name="ProductCode" placeholder="Артикул товару" />
                        <button type="submit">Додати до групи</button>
                        </form>
                    </div>
                        </div>
                </div>
            }
   
    </div>
</div>