@model Banner
@{
    ViewData["Title"] = "Edit banner";
}


<div class="Page">
    <div class="header">
        <div class="namePage">
            <p>Банери - Редагування банера</p>
        </div>
    </div>

    <div class="body body-with-sections">
        <div class="section">
            <img src="@Model.ImageUrl" alt="@Model.ImageUrl" />
            <form method="post" asp-controller="Banners" asp-action="UpdateBanner" enctype="multipart/form-data">
                <input name="Id" value="@Model.Id" hidden />
                <input name="Name" value="@Model.Name" placeholder="name" />
                <input name="PageUrl" value="@Model.PageUrl" placeholder="page url" />
                <input type="file" accept="image/*" name="Image" placeholder="image url" required />
                <button type="submit">Оновити дані</button>
            </form>
        </div>
    </div>
</div>