@model ChangeOrderStatusViewModel
@{
    ViewData["Title"] = "Зміна статусу замовлення";
}

<div class="Page">
    <div class="header">
        <div class="namePage">
            <p>Зміна статусу замовлення</p>
        </div>
    </div>

    <div class="body body-with-sections">
        <div class="section">
            <form method="post" asp-controller="Orders" asp-action="UpdateOrderStatus">
                <input name="Id" value="@Model.OrderId" hidden readonly />
                <select class="status-dropdown" id="status-select" name="NewStatus">
                    @foreach (var x in Model.Statuses)
                    {
                        if (@x.Name == @Model.OrderStatus)
                        {
                            <option value="@x.Id" selected="selected">@x.Name</option>
                        }
                        else
                        {
                            <option value="@x.Id">@x.Name</option>
                        }
                    }
                </select>
                <button type="submit">Оновити статус</button>
            </form>
        </div>
    </div>
</div>