@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CategoriesViewModel
@{
    ViewData["Title"] = "Main categories";
}

<div class="Page">
    <div class="header">
        <div class="namePage">
            <p>Список категорій</p>
        </div>
    </div>



    <div class="body body-with-sections">
        <div class="sections">
                <div class="left-section-categories">
                    <div class="list-categories-block">
                    @foreach (var x in Model.MainCategories)
                    {
                        <div name="maincategories-list">
                            <div class="maincategories-name">
                                <p name="maincategories-name" value="@x.Id">@x.Id | @x.Name</p>
                            </div>
                            <div name="subcategories-list">
                                @foreach (var y in Model.Subcategories.Where(s => s.MainCategory.Id == x.Id))
                                {
                                    <div class="subcategories-name">
                                        <p name="subcategories-name" value="@x.Id,@y.Id">@y.Id | @y.Name</p>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    </div>
                </div>


                <div class="right-section-categories">
                    <div class="change-catecories-block">
                        <div class="name-block">
                            <p name="add">Створити</p>
                        </div>
                        <div class="categories-img">
                            <div class="main-image">
                                <span class="material-icons add-icon unselectable" >add</span>
                                <input type="file" name="uploads" accept="image/*" />
                            </div>
                        </div>
                        <div class="categories-inputs">
                        <input required id="categories-name" type="text" class="categoryTextInput" placeholder="Ім'я категорії" />
                        <select id="maincategories-selec">
                            <option selected="selected" value="-1">Батьківська категорія</option>
                            @foreach (var x in Model.MainCategories)
                            {
                                <option value=@x.Id>@x.Name</option>
                            }
                        </select>
                        </div>
                        <div class="category-btn">
                            <div id="change-category-btn" class="h-hidden">
                                <button id="category-btn-delete" type="submit">Видалити</button>
                                <button id="category-btn-change" type="submit">Оновити</button>
                            </div>
                            <button id="category-btn" type="submit">Додати</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
</div>

@section scripts {
    <script src="~/js/ChangeCategories.js"></script>
}




