@model ModelsViewModel
@{
    ViewData["Title"] = "Models";
}
<div class="Page">
    <div class="header">
        <div class="namePage">
            <p>Редагування Моделей</p>
        </div>
    </div>

    <div class="body body-with-sections">
        <div class="sections">
            <div class="left-section-editproduct">
                <div class="name">
                    <div class="product-lable">
                        <label for="Name">Створити бренд</label>
                    </div>
                    <input id="add-model-name" type="text" name="Name" placeholder="Назва" />
                    <button id="add-model-btn">Створити</button>
                </div>
                <div class="models-table">
                    <div class="brand-lable">
                        <span>Cписок брендів</span>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Назва</th>
                            </tr>
                        </thead>
                        <tbody id="list-models">
                            @foreach (var x in Model.Models)
                            {
                                <tr name="@x.Id">
                                    <td><p>@x.Name</p></td>
                                    <td><button value="@x.Id,@x.Name" data-bs-toggle="modal" data-bs-target="#staticBackdrop" type="button" name="edit-model">Редагувати</button></td>
                                    <td><button value="@x.Id" type="button" name="delete-model">Видалити</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="pagination_section">
                        
                            <p name="previous-page" value="">Previous</p>
                            @for (var i = 1; i <= Model.TotalPages;i++)
                            {
                            <form method="post" asp-controller="AdminPanel" asp-route-pageNumber="@i" asp-action="Models">
                                <button type="submit">@i</button>
                            </form> 
                            }
                            <p name="next-page" value="">Next</p>
                        

                    </div>
@*                    <table>
                        <thead>
                            <tr>
                                <th>Назва</th>
                            </tr>
                        </thead>
                        <tbody id="list-models">
                            @foreach (var x in Model)
                            {
                                <tr name="@x.Id">
                                    <td><p>@x.Name</p></td>
                                    <td><button value="@x.Id,@x.Name" data-bs-toggle="modal" data-bs-target="#staticBackdrop" type="button" name="edit-model">Редагувати</button></td>
                                    <td><button value="@x.Id" type="button" name="delete-model">Видалити</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>*@
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Редагування</h5>
                                </div>
                                <div class="modal-body">
                                    <input id="edit-value-id" value="" type="hidden" />
                                    <p class="modal-title-input">Назва</p>
                                    <input class="modal-input" id="edit-model" value="" placeholder="" />
                                </div>
                                <div class="modal-footer">
                                    <button id="close-modal" type="button" data-bs-dismiss="modal">Закрити</button>
                                    <button id="save-changes-modal" type="button">Зберігти</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/EditModel.js"></script>
}